
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: white;
    padding: 0;
    margin: 0;
}

/* Navigation styling */
.Home nav {
    padding: 0 10%;
    margin: 0;
}

