/* Universal selector to reset padding and margin */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Ensure padding and border are included in the total width and height */
}

/* Body element styling */
body {
    color: #333;
    background-color: white;
    padding: 0;
    margin: 0;
}

/* Navigation styling */
.Home nav {
    padding: 0 0; /* This adds 10% padding on left and right */
    margin: 0;
}

/* Additional styling to prevent overflow */
content {
    max-width: 100vw; /* Prevents container from exceeding viewport width */
    overflow-x: hidden; /* Hides any overflow content */
}
