/* .Home{
    padding: 1rem;
    background-color:green;
} */
.Home-1{
    /* background-color:red; */
    text-align: center;
}
.mark{
    background-color:white;
    border-radius:12px;
    font-size: .6rem;
    padding:.1rem;
    margin-right: .5rem;
}
.academy-1{
    font-size: .6rem;
    background-color: lightcyan;
    border-radius:12px;
    padding: .3rem;
    text-decoration: none;
}
.heading-sub-1{
      text-align: center;
}
.heading-1{
    width: 45rem;
    height: 12.7rem;
    font-size: 2.8rem;
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    font-weight: 600;
    background-color:white;
}
.sub-heading-1{
    font-size: .9rem;
    height: 120px;
    width: 20rem;
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
}
.action{
    gap: 12px;
    text-decoration: none;
}
.apply-heading{
    background-color:#DEE0FF;
    text-align: center;
    margin: 0 1rem;
    padding: .2rem;
    border-radius: 3px;
    text-decoration: none;
}

.learn-heading{
    background-color: blue;
    text-align: center;
    padding: .2rem;
    border-radius: 3px;
    text-decoration: none;
}

.Home-1 img{
    background-color:none;
    width: 65rem;
    height: 516px;
    padding: 1rem;
    margin: 2.9rem 0;
}


.Home-2{
    /* background-color:brown; */
    display: flex;
    justify-content: space-between;
    height: 37rem;
}

.heading-sub-2{
    background-color:red;
    font-size: 1.4rem;
    font-style: normal;
    color: #fff;
    text-align: left;
    max-width: 30rem;
    text-align: left;
    height: 35rem;
    padding: 0 0 0 4rem;
    margin: 0 0 0 2rem;
}

.sub-heading-2{
    font-size: 1rem;
    color:blue;
}

.heading-2{
    font-size: 1.8rem;
    font-weight: 500;
    color:blue;
}

.home-chair{
    flex: 1;
}


.text-2{
    font-size: 1rem;
    color:black;
}

.apply-now-2{
    background-color:blue;
    margin-top:1.8rem;
    padding: .7rem 2rem .7rem 0;
    font-size: .7rem;
    color:white;
    width: 7rem;
}

.Home-2 .img{
    flex: 1;
    display: flex;
    justify-content: center;
}

.Home-2 img{
    display: flex;
    align-items: center;
    text-align: left;
    height: 35rem;
    width: 32rem;
    margin: 0 2.9rem 0 0;
}


.Home-3{
    /* background-color:chocolate; */
    text-align: center;
}

.heading-sub-3{
    padding: 2.5rem;
}

.sub-3{
    color:blue;
    font-size: .7rem;
}

.heading-3{
    color:black;
    font-size: 1.6rem;
    font-weight: 700;
}

.text-3{
    font-size: 1.1rem;
    width:40rem;
    display: flex;
    margin: 0 auto;
}

.Home-3 img{
    width: 66rem;
}

.Home-4{
    background-color:yellowgreen;
}

.Home-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Home-5 .heading-sub-5 {
    font-style: normal;
    color: #fff;
    font-size: .9rem;
    text-align: left;
    max-width: 25rem;
    text-align: left;
    height: 15rem;
    padding: 3rem 5rem;
    margin: 0 10rem 0 0;
    /* background-color:red; */
}

.Home-5 .article{
    flex: 1;
}

.Home-5 .img{
    flex: 1;
    display: flex;
    justify-content: center;
}

.Home-5 img{
    display: flex;
    align-items: center;
    text-align: left;
    height: 20rem;
    width: 20rem;
    margin: 0 0rem 0 0;
    padding: 2rem 0;
}



.Home-6{
    background-color:cadetblue;
}

.Home-6


.Home-7{
    background-color:goldenrod;
}