.Home-1{
    background-color:red;
}
.heading-sub{
      text-align: center;
}
.apply-heading{
    background-color:blue;
}

.learn-heading{
    background-color: blue;
}

.Home-2{
    background-color:brown;
}

.Home-3{
    background-color:chocolate;
}

.Home-4{
    background-color:yellowgreen;
}

.Home-5{
    background-color:violet;
}

.Home-6{
    background-color:cadetblue;
}

.Home-7{
    background-color:goldenrod;
}